/* Stili per l'intestazione */
.app-header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  /* Stili per la barra di navigazione */
  .app-nav {
    background-color: #666;
    padding: 10px;
  }
  
  .nav-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
  }
  
  .nav-item {
    margin: 0 10px;
  }
  
  .nav-item a {
    color: white;
    text-decoration: none;
  }
  
  .nav-item a:hover {
    text-decoration: underline;
  }
  
  /* Stili per la sezione principale */
  .app-main {
    padding: 20px;
  }
  