<div class="container mt-4">
  <h2>User List</h2>
  <div *ngIf="users.length > 0; else noUsersMessage" class="list-group">
    <div *ngFor="let user of users" class="list-group-item">
      <div class="d-flex w-100 justify-content-between">
        <h5 class="mb-1">{{ user.name }}</h5>
        <small>ID: {{ user.id }}</small>
      </div>
      <p class="mb-1">{{ user.email }}</p>
    </div>
  </div>
  <ng-template #noUsersMessage>
    <p class="text-muted">No users available.</p>
  </ng-template>
</div>